body {
    background-color: #eef2f3;
    font-family: Arial;
    direction: rtl;
}

.calculator {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

button {
    width: 45%;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
}